@import "normalize.css";

body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.navbar {
    max-width: 870px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    /* padding: 0; */
}

.nav-link {
    text-decoration: none;
    color: #BF7506;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-left: 24px;
}

.nav-link.active {
    font-weight: 700;
}