services:
    nginx:
        image: nginx:alpine
        container_name: fullstack-landing
        restart: unless-stopped
        expose:
            - "80"
        volumes:
            - ./public:/usr/share/nginx/html:ro
            - ./nginx/fiontech.ru/default.conf:/etc/nginx/conf.d/default.conf:ro
        networks:
            - dev-landing-network
            - nginxproxyman

    nginx-1:
        image: nginx:alpine
        container_name: anime
        restart: unless-stopped
        expose:
            - "80"
        volumes:
            - ./public:/usr/share/nginx/html:ro
            - ./nginx/anime.fiontech.ru/default.conf:/etc/nginx/conf.d/default.conf:ro
        networks:
            - dev-landing-network
            - nginxproxyman

    nginx-2:
        image: nginx:alpine
        container_name: h500
        restart: unless-stopped
        expose:
            - "80"
        volumes:
            - ./public:/usr/share/nginx/html:ro
            - ./nginx/h500.fiontech.ru/default.conf:/etc/nginx/conf.d/default.conf:ro
        networks:
            - dev-landing-network
            - nginxproxyman

networks:
    dev-landing-network:
        driver: bridge
    nginxproxyman:
        external: true
        name: nginxproxyman
