services:
  nginx:
    image: nginx:alpine
    container_name: fullstack-landing
    restart: unless-stopped
    expose:
      - "80"
    volumes:
      - ./:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - dev-landing-network
      - nginxproxyman

networks:
  dev-landing-network:
    driver: bridge
  nginxproxyman:
    external: true
    name: nginxproxyman
